# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
# Ignore files not intended to be exported in zip archives (for Godot projects).
/*.md export-ignore
/.* export-ignore
/addons/terrain_3d/ export-ignore
/demo export-ignore
/docs export-ignore
/icon.svg* export-ignore
/LICENSE export-ignore
/project.godot export-ignore
