# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
*.md export-ignore
project.godot export-ignore
docs export-ignore
demo export-ignore
.github/ export-ignore
icon* export-ignore
addons/terrain_3d/ export-ignore
