name: Verification

on:
  pull_request:
    branches:
      - main
      - dev

jobs:
  format-check:
    name: Check Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup gdtoolkit
        uses: Scony/godot-gdscript-toolkit@master

      - name: Check formatting with gdformat
        run: gdformat --check addons/asset_placer

  lint-check:
    name: Lint Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup gdtoolkit
        uses: Scony/godot-gdscript-toolkit@master

      - name: Run gdlint
        run: gdlint addons/asset_placer
